<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ms-4 fs-4" href="#">Library</a>
    </nav>
    
    <main class="container">
        <h1>List of Books</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
                <th scope="col">Ações</th>

                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                    <th scope="row">{{ book.id }}</th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                    <td>
                        <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>        
        </table>
    </main>


    <footer class="mt-auto">
        <p>&copy; 2026 Matheus Henrique. Todos os direitos reservados.</p>
    </footer>
</body>
</html>