{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link href="{% static "myapp/css/style.css" %}" rel="stylesheet">
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ms-4 fs-4" href="{% url "home" %}">Library</a>
    </nav>

{% block content %}

{% endblock content %}


<footer class="mt-auto">
    <p>&copy; 2026 Matheus Henrique. Todos os direitos reservados.</p>
</footer>
</html>