{% extends "myapp/base.html" %}

{% block content %}   
<style>
    .link-underline:hover {
        text-decoration: underline !important;
    }
    
    .link-no-underline:hover {
        text-decoration: none !important;
    }

</style>     
    <main class="container">
        {% if books %}
            <h1 class="d-flex align-items-center mt-4">
                All books 

                <div class="d-flex flex-column align-items-end ms-auto">
                    <p class="d-flex align-items-center" style="font-size: 1.1rem;">
                        Welcome {{ username|capfirst }}
                        <a href="{% url 'logout' %}" class="btn btn-link pe-2 link-underline" style="text-decoration: none;">
                            <span>Exit account</span>
                        </a>
                        <i class="bi bi-person" style="font-size: 1.7rem;"></i>
                    </p>

                </div>
            </h1>
            

            <nav class="navbar bg-body-tertiary mt-4">
                <div class="container-fluid">
                    <form class="d-flex mx-auto w-50" role="search" method="GET">
                    <input
                        class="form-control me-2" style="height: 45px;" type="search" placeholder="Search for a book" aria-label="Search"
                        name="q"
                        value="{{ query }}"
                    />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>


            <table class="table mt-5">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                    <th scope="col">Owner</th>

                    </tr>
                </thead>
                <tbody>
                    {% for book in page_obj %}
                        <tr>
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.description|truncatechars:60}}</td>
                        <td>{{ book.owner }}</td>
                        <td>
                            <a href="{% url "detail_book" book.id %}"><i class="bi bi-search"></i></a>
                        </td>   
                        </tr>
                    {% endfor %}
                </tbody>        
            </table>

            <div>
                {% if page_obj.has_previous %}
                    <a href="{% url "home" %}?page={{ page_obj.previous_page_number }}"
                    style="text-decoration: none; font-size: 1.1em;">Previous</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="{% url "home" %}?page={{ page_obj.next_page_number }}"
                    style="text-decoration: none; font-size: 1.1em; margin-left: 6px">Next</a>
                {% endif %}

            </div>

            <a href="{% url "create_book" %}" class="btn btn-primary mt-4">New Book</a>
            
        {% else %}

        <div class="mt-5 fw-bold d-flex justify-content-between align-items-center">
            <p class="m-0 fs-3">Oh sorry, looks like that you don't have any books yet</p>

            <!-- Agrupando Welcome + Exit + Delete -->
            <div class="d-flex flex-column align-items-end">
                <!-- Usuário + Exit -->
                <p class="d-flex align-items-center m-0" style="font-size: 1rem;">
                    Welcome {{ username.capitalize }}
                    <a href="{% url 'logout' %}" class="btn btn-link pe-2 link-underline" style="text-decoration: none;">
                        <span>Exit account</span>
                    </a>
                    <i class="bi bi-person" style="font-size: 1.7rem;"></i>
                </p>

                <!-- Delete account abaixo -->
                <p class="d-flex align-items-center m-0" style="font-size: 1rem;">
                    <a href="#" 
                        class="btn btn-link pe-2 link-underline" 
                        style="text-decoration: none;"
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteuser">
                        <span>Delete account</span>
                    </a>
                    <i class="bi bi-exclamation-triangle fs-5"></i>
                </p>
            </div>
        </div>

        <div class="modal fade" id="deleteuser">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"> <!-- Cabeçalho -->
                            <h5 class="modal-title">User: {{ username|capfirst }} </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body"> <!-- Corpo -->
                            Are you sure you want to delete permanently your account: <strong>{{ username|capfirst }}</strong>?
                        </div>

                    <div class="modal-footer"> <!-- Rodapé -->
                        <form action="{% url "deleteuser" %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, delete</button>
                        </form>

                        <a href="{% url 'home' %}" class="btn btn-secondary">
                            Back
                        </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 fs-4">
                <p>Create a new book <a href="{% url "create_book" %}" class="btn btn-success ms-1 link-no-underline">Create</a></p>
            </div>
        
        {% endif %}
    </main>

{% endblock content %}


