{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    .link-underline:hover {
        text-decoration: underline !important;
    }
    
    .link-no-underline:hover {
        text-decoration: none !important;
    }

</style>    
    <div class="container mx-auto">
        <h1 class="text-center mt-4">User: {{ request.user.username|capfirst }}</h1>

        <form method="post" enctype="multipart/form-data" class="col-md-6 mx-auto mt-4">
            {% csrf_token %}
            <input type="file" name="my_file"> 
            {{ form|crispy }}


            <div class="d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-20 mt-3">Edit</button>
                <a href="{% url "home" %}" class="btn btn-secondary w-20 mt-3 ms-2">Go Home</a>

                <div class="ms-auto d-flex align-items-center">
                    <a href="#" class="link-underline" style="text-decoration: none" data-bs-toggle="modal" data-bs-target="#deleteuser">Delete account</a>
                    <i class="bi bi-exclamation-triangle align-items-end fs-4 ms-2"></i>
                </div>

            </div>
        </form>

        {% comment %} Modal {% endcomment %}
        <div class="modal fade" id="deleteuser">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"> <!-- Cabeçalho -->
                            <h5 class="modal-title">User: {{ request.user.username|capfirst }} </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body"> <!-- Corpo -->
                            Are you sure you want to delete permanently your account: <strong>{{ request.user.username|capfirst }}</strong>?
                        </div>

                    <div class="modal-footer"> <!-- Rodapé -->
                        <form action="{% url "deleteuser" %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, delete</button>
                        </form>

                        <a href="{% url 'home' %}" class="btn btn-secondary">
                            Back
                        </a>
                        </div>
                    </div>
                </div>
            </div> 


    </div>

{% endblock content %}
    

