{% extends "myapp/base.html" %}

{% block content %}
 
<div class="container mx-auto">
    <div class="text-center mt-5">
        <h1>
             Sign-up<i class="bi bi-person-circle ms-2"></i>
        </h1>
    </div>


    <form action="{% url "register" %}" method="POST" class="mx-auto w-25" style="margin-top: 40px">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ex: Matthew." name="username" value="{{ username }}">

            {% if username_error %}
                <p style="color: red;"> {{ username_error }}</p>
            {% endif %}

        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Ex: email@email.com" value="{{ email }}">

            {% if email_error %}
                <p style="color: red;"> {{ email_error }}</p>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Password..." name="password1">

            {% if password_error %}
                <p style="color: red;"> {{ password_error }}</p>
            {% endif %}

        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label" name="password2">Confirm your password</label>
            <input type="password" class="form-control" id="password2" placeholder="Password..." name="password2">

            {% if password_error %}
                <p style="color: red;"> {{ password_error }}</p>
            {% endif %}

        </div>

        <button type="submit" class="btn btn-primary mt-2">Create</button>
        <p class="mt-3">Already have an account? <a href="{% url "login" %}" class="ms-1 text-decoration-none">Enter now</a></p> 
    </form>
</div>

    

{% endblock content %}

